.produtoPreview{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
    margin-bottom: 40px;
}
.produtoPreview p, a{
    font-size: 20px;
    font-weight: 600;
} 

#valor{
    font-size: 30px;
    color: #3F9156;
    margin-right: 20px;
}

#descricaoProduto{
    color: #979797;
    font-weight: 400;
}

.imagemProduto{
    width: 100%;
    border-radius: 10px;
}

.botoes{
    display: flex;
    justify-content: end;
    gap: 1px;
}

a img{
    width: 20px;
}

.botoes a{
    height: 24px;
    padding: 3px 7px;
    background-color: #83DB9C;
}


/* breakpoints */

@media (max-width: 600px) {
    .produtoPreview{
        width: 300px;
        margin-left: 50px;
    }

    .botoes {
        flex-direction: column;
        gap: 5px;
    }
    .botoes a {
        text-align: center;
    }
}
