*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/* LOGO DO SITE */
.logo{
    display: flex;
    gap: 0.6rem;
    justify-content: center;
    align-items: center;
}
header .logo:hover{
    background-color: #3f9156;
    border-radius: 4px;
}

.logo p{
    font-family: 'Poppins';
    color: white;
    font-weight: bold;
}

.logo img{
    width: 1.25rem;
}

footer .logo img{
    width: 1.875rem;
}

footer .logo p{
    font-family: 'Poppins';
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

footer .logo:hover{
    opacity: 0.5;
}

@media (max-width: 600px){
    .logo img{
        width: 1rem;
    }
    .logo p{
        font-size: 0.9rem;
    }
    footer .logo img{
        width: 1.5rem;
    }
    footer .logo p{
        font-size: 1rem;
    }
}

@media (max-width: 400px){
    footer .logo img{
        width: 1.7rem;
    }
    footer .logo p{
        font-size: 1.2rem;
    }
}
